
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Metamorphous&family=Sancreek&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&family=Metamorphous&display=swap');

#navindex {
    display:flex; 
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 35%;
    margin-left: 28%;
    font-family: "Sancreek";
}

nav {
    position: fixed;
    width: 100%;
    background-color: #FFCFA3;
    top: 0%;
    left: 0%;
    margin: 0px;
    padding: 50px;

}

a:link{
    color:black;
}

a:visited{
    color:black;
}

#highlight {
    background-color: #F3A761;
    padding: 5px;
}


#flag {
    top: 2%;
    left: 1%;
    position:fixed;
}

main {
margin-top: 150px;
}

#cities {
    text-align:center;
}

#secondcity {
    text-align:center;
    font-size: xx-large;
    font-family: "Sancreek";
}

#mallorca{
    display: flex;
    flex-basis: auto;
    margin-left: 20%;
}

p{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -.15%;
    margin-bottom: -.15%;
    font-size:xx-large;
    text-align: center;
    background-color: #FFD990;
    padding: 2%;
    font-family: "Laila";
}


#mallorcatips{
    text-align: center;
    margin-left: 5%;
    
 }

#pica{
    margin-right: 20%;
}

#santa{
    margin-left: 5%;
}

#otherbeaches {
    text-align: center;
    margin-left: 5%;
}

#ponca{
    margin-right: 20%;
}

#marga{
    margin-left: 5%;
}

#beaches{
    display: flex;
    flex-basis: auto; 
}

#visits{
    display: flex;
    flex-basis: auto; 
}

h3{
    margin-left: 27%;
    text-align: center;
    font-family: "Metamorphous";
}

#beach1{
    margin-left: 27%;
}

#beach2{
    margin-left: 40%;
    margin-right: 23%;
}

#beach3{
    margin-left: 25%;
}

#lastbeach{
    margin-left: 41%;
    margin-right: 23%;
}